@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    var playerInfos = (QuickType.PlayerInfo[])ViewData["PlayerInfo"];
}


<div class="text-center">
    <h1 class="display-4">List of players and teams</h1>
    <p>Below a list of player's information.</a>.</p>
</div>
  
<div class="text-center">
    <p> Player Info</p>
    <hr />
    <table border="1" width="90%">
        <tr><th>Player Name</th><th>Team Name</th><th>Data Joining Team</th></tr>
        @{
            foreach (QuickType.PlayerInfo playerInfo in playerInfos)
            {
                <tr>
                    <td>@playerInfo.PlayerName</td>
                    <td>@playerInfo.TeamName</td>
                    <td>@playerInfo.StartDate</td>
                    

                </tr>

            }

        }


    </table>



</div>