@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    //var playerInfos = (QuickType.PlayerInfo[])ViewData["allinfo"];
    List<QuickType.PlayerInfo>  playerInfos= (List<QuickType.PlayerInfo>)ViewData["PlayerInfo"];
    //var playerDET = (QuickTypePlayerDetails.PlayerStats[])ViewData["allinfo"];
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="text-center">
    <hi class="display-4"> Player Info</hi>
    <hr />
    <table border="1" width="90%">
        <tr><th>Player Name</th><th>Team Name</th><th>Data Joining Team</th><th>Goals</th><th>Assists</th></tr>
        @{
            foreach (var playerInfo in playerInfos)
            {
                <tr>
                    <td>@playerInfo.PlayerName</td>
                    <td>@playerInfo.TeamName</td>
                    <td>@playerInfo.StartDate</td>
                    <td>@playerInfo.TeamArea</td>@
                    
                </tr>

            }

        }


    </table>



</div>