@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    //var playerInfos = (QuickType.PlayerInfo[])ViewData["PlayerInfo"];
    //var playerall = (QuickTypePlayerStats.PlayerStats[])ViewData["PlayerStats"];

}

@*<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>*@

<div class="text-center">
    <hi class="display-4"> Soccer Players Information</hi>
    <hr />
    <table border="1" width="90%">
        <thead>
            <tr>
                <th>
                    <a href="@Url.Page("/PlayerInfo")">Player Goal Scoring Rate </a>
                </th>
                <th>
                    <a href="@Url.Page("/PlayerPosition")">Player Position and Jersey </a>
                </th>
                <th>
                    <a href="@Url.Page("/PlayerSalary")">Player Salary </a>
                </th>
                
            </tr>
        </thead>
        
    </table>
</div>