@page
@model IndexModel
@{
    ViewData["Title"] = "Soccer Player Information";
    //var playerInfos = (QuickType.PlayerInfo[])ViewData["PlayerInfo"];
    //var playerall = (QuickTypePlayerStats.PlayerStats[])ViewData["PlayerStats"];
}


@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>
        * {
            box-sizing: border-box;
        }

        body {
            margin: 0;
            font-family: Arial;
            font-size: 17px;
        }

        #myVideo {
            position:fixed;
            z-index:-1;
            right: 0;
            bottom: 0;
            min-width: 100%;
            min-height: 80%;
        }

        .content {
            position: fixed;
            bottom: 0;
            background: rgba(0, 0, 0, 0.5);
            color: #f1f1f1;
            width: 100%;
            padding: 20px;
        }

            
    </style>
</head>

<body>

    <video autoplay muted loop id="myVideo">
        <source src="~/Images/Svideo.mp4" type="video/mp4">
        Your browser does not support HTML5 video.
    </video>

    <div class="content">
        <h1>Heading</h1>
        <p>Lorem ipsum dolor sit amet, an his etiam torquatos. Tollit soleat phaedrum te duo, eum cu recteque expetendis neglegentur. Cu mentitum maiestatis persequeris pro, pri ponderum tractatos ei. Id qui nemore latine molestiae, ad mutat oblique delicatissimi pro.</p>
        
    </div>

    <script>
        var video = document.getElementById("myVideo");
        video.playbackRate = 1.5;

    </script>

</body>