@page
@model GroupProject.Pages.NewsModel
@{
    var Infos = (CodeBeautify.Article[])ViewData["News"];
}

<html>
<head>
    <style>
        body, html {
            height: 100%;
            margin: 0;
            font-family: Arial, Helvetica, sans-serif;
        }

        .hero-image {
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../Images/newsimage.jpg");
            height: 50%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            text-decoration-color:white
        }
        
        
        .hero-text {
            text-align:center;
            color:white;
            background-color:cyan
        }
        .h1{
            color:brown;
            border:double;
            text-align:center;
        }
            .hero-text button {
                border: none;
                outline: 0;
                display: inline-block;
                padding: 10px 25px;
                color: black;
                background-color: #ddd;
                text-align: center;
                cursor: pointer;
            }

                .hero-text button:hover {
                    background-color: #555;
                    color: white;
                }
    </style>
</head>
<body>

    <h1><b>Read All New Stories From Various Media Outlets Here</b></h1>
    <br/>
        @{ 
            foreach (var i in Infos)
            {
                <div class="hero-image hero-text" >

                    <h2>@i.Title</h2>
                    <h5>Author: @i.Author</h5>
                    <p> @i.Description </p>
                    <button><a href="@i.Url" target="_blank">Click To Read Story</a></button>

                </div>
            
            <br />
            <p />
            <p />
        }
        }
       


    </body>
</html>
